.sidebar {
  overflow-y: auto;
  background-color: white;
  padding: 2px;
  border: 0.5px solid rgba(0, 0, 0, 0.141);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.contact__container {
  width: 100%;
  padding: 3px;
  margin: 0 auto;
  border: 0.5px solid rgba(0, 0, 0, 0.141);
}

.contact__container:hover {
  cursor: pointer;
  background-color: rgba(171, 167, 167, 0.216);
}

.contact__name {
  font-size: 1rem;
  text-align: center;
  margin: 0;
  padding: 5px 0;
}

.contact__image {
  max-width: 100px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  display: block;
  margin: 0 auto;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
